@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
  #banner {
    text-align: center;
  }
  #banner h4 {
    font-size: 36px;
  }
  #banner a {
    margin-bottom: 20px;
  }

  #banner_add .single_card:first-child {
    border-radius: 8px 8px 0 0px;
  }
  #banner_add .single_card:last-child {
    border-radius: 0px 0px 8px 8px;
  }

  #pera .slider-nav .slick-track {
    flex-direction: row;
  }

  .slider-nav img {
    width: 100%;
    display: block;
    padding: 0 0px;
    /* border: 3px solid greenyellow; */
  }

  .magnifier {
    left: 50% !important;
    transform: translateX(-50%);
  }

  #pera .heading {
    margin-top: 30px;
  }
  #pera .heading h4 {
    font-size: 25px !important;
  }
  #pera .add_card .counter {
    width: 40%;
  }

  #counter {
    background: var(--gren-gray-scale-50);
    padding: 40px 0;
  }
  #counter .heading h4 {
    font-size: 24px;
  }
  #counter .count_timer li{
    padding: 0 10px;
  }
  #counter .count_timer li:first-child{
    margin-left: -20px;
  }


  #video {
    margin: 20px 0;
  }
  #video .container{
    padding: 0;
  }
  #video .container p,  #video .container h4 {
    display: none;
  }
}
